#index {
  background-color: bisque;
}
#salesPage {
  background-color: lightgrey;
}
h1 {
  font-family: 'Ubuntu', sans-serif;
  text-align: center;
  font-size: large;
  color: black
}
#cookieSales {
  background-color: rgb(31, 31, 31);
  margin-top: 50px;
  margin-left: 50px;
}

thead, tbody, tr, td, tfoot {
  border:1px solid black;
  /* padding: 30px */
  text-align: center;
  text-indent: 20px;
  padding:5px;
}


 tbody {
  color: red;
  background-color: darkslategray;
  font-style: italic;
  font-size: xx-large;
}

td {
  color: salmon;
  font-family: Arial, Helvetica, sans-serif;
} 

#title {
  font-size: 75px;
  margin-top: 150px;
}
#href {
  font-size: 25px;
  font-style: italic;
  text-decoration: none;
  text-emphasis: none;
  margin-left: 50px;
  margin-bottom: 50px;
}

body {
  color: darkgreen;
}
#Hseattle{
  font-size: 25px;
  font-style: italic;
  font-family: 'Times New Roman', Times, serif;
  margin-left: 125px;
  /* margin-bottom:50px; */
  margin-top: 100px;
}
#Hparis{
  font-size: 25px;
  font-style: italic;
  font-family: 'Times New Roman', Times, serif;
  text-align:left;
  margin-left: 150px;
  margin-bottom: 0px;
}
#Htoyko{
  font-size: 25px;
  font-style: italic;
  font-family: 'Times New Roman', Times, serif;
  margin-left: 175px;
  margin-bottom: 30px;
}
#Hlima{
  font-size: 25px;
  font-style: italic;
  font-family: 'Times New Roman', Times, serif;
  margin-left: 200px;
  margin-bottom: 30px;
}
#Hdubai{
  font-size: 25px;
  font-style: italic;
  font-family: 'Times New Roman', Times, serif;
  margin-left: 225px;
  margin-bottom: 30px;
}
#salmon {
  width: 400px;
  height: 200px;
  float: left;
}
#chinook {
  width: 400px;;
  height: 200px;
  float: right;
  margin-left: 175px;
}

#seattle {
  font-size: 25px;
  font-family: 'Times New Roman', Times, serif;
  margin-top: 10em;
  margin-left: 450px;
  max-width: 500px;
  text-align: center;
  
}
#paris {
  font-size: 25px;
  font-family: 'Times New Roman', Times, serif;
  margin-top: 50px;
  margin-left: 450px;
  max-width: 500px;
  text-align: center;
}


#frosted {
  margin-left: 100px;
  margin-top: 50px;
  width: 250px;
  height: 250px;
  float: left;
}
#cutter {
  margin-top: 50px;
  margin-right: 100px;
  width: 250px;
  height: 250px;
  float: right;
}

#fish {
  margin-top: 150px;
  margin-left: 75px;
  margin-right: 50px;
  width: 250px;
  height: 250px;
}

#shirt {
  margin-top: 50px;
  width: 250px;
  height: 250px;
}

#toyko {
  font-size: 25px;
  font-family: 'Times New Roman', Times, serif;
  margin-top: 100px;
  margin-left: 450px;
  max-width: 500px;
  text-align: center;
}


#lima {
  font-size: 25px;
  font-family: 'Times New Roman', Times, serif;
  margin-top: 100px;
  margin-left: 30px;
  max-width: 300px;
  text-align: center;
  float: left;
}
#family {
  margin-left:450px;
  width: 450px;
  height: 350px;
  /* margin-top: px; */
  margin-bottom: 100px;
}
#dubai {
  font-size: 25px;
  font-family: 'Times New Roman', Times, serif;
  margin-top: 100px;
  margin-right: 50px;
  max-width: 300px;
  text-align: center;
  float: right;
}


#Sales {
  text-align: center;
  font-size: 50px;
  font-family: 'Times New Roman', Times, serif;
  font-style: italic;
}



#home {
  font-size: 50px;
  margin-left: 550px;
  margin-top:300px;
  text-decoration: none;
}
