* {
  background-color: lightgrey

}
h1 {
  font-family: 'Ubuntu', sans-serif;
  text-align: center;
  font-size: large;
}
thead, tbody, tr, td, tfoot {
  border:1px solid black;
  /* padding: 30px */
  text-align: center;
  text-indent: 20px;
  padding:5px;
}

thead {
  font-style: italic;
}

tbody {
  color: red;
  font-style: italic;
  font-size: xx-large;
}

td {
  color: black;
}

#title {
  font-size: 100px;
  margin-top: 100px;
}

#salmon {
  width: 400px;
  height: 200px;
  float: left;
}
#chinook {
  width: 400px;;
  height: 200px;
  float:right;
}

#seattle {
  font-size: 25px;
  margin-top: 10em;
  margin-left: 450px;
  max-width: 500px;
  text-align: center;
  
}
#paris {
  font-size: 25px;
  margin-top: 50px;
  margin-left: 450px;
  max-width: 500px;
  text-align: center;
}


#frosted {
  margin-left: 100px;
  margin-top: 50px;
  width: 250px;
  height: 250px;
  float: left;
}
#cutter {
  margin-top: 50px;
  margin-right: 100px;
  width: 250px;
  height: 250px;
  float: right;
}

#fish {
  margin-top: 150px;
  margin-left: 75px;
  margin-right: 50px;
  width: 250px;
  height: 250px;
}

#shirt {
  margin-top: 50px;
  width: 250px;
  height: 250px;
}

#toyko {
  font-size: 25px;
  margin-top: 100px;
  margin-left: 450px;
  max-width: 500px;
  text-align: center;
}


#lima {
  font-size: 25px;
  margin-top: 100px;
  margin-left: 30px;
  max-width: 300px;
  text-align: center;
  float: left;
}
#family {
  margin-left:450px;
  width: 450px;
  height: 350px;
  /* margin-top: px; */
  margin-bottom: 100px;
}
#dubai {
  font-size: 25px;
  margin-top: 100px;
  margin-right: 50px;
  max-width: 300px;
  text-align: center;
  float: right;
}

#href {
  font-size: 50px;
  font-style: italic;
  text-decoration: none;
  text-emphasis: none;
  text-align: center;
}

