* {
  background-color: palegoldenrod;

}
h1 {
  text-align: center;
  font-size: large;
}
thead, tbody, tr, td {
  border:1px solid black;
  /* padding: 30px */
  text-align: center;
  text-indent: 20px;
  padding:5px;
}

thead {
  font-style: italic;
}

tbody {
  color: red;
  font-style: italic;
  font-size: xx-large;
}

td {
  color: black;
}